.kanji-answer{
  color: rgba(0, 0, 0, 0.2);
  font-size: 250px;
  height: 300px;
  left: 0;
  line-height: 250px;
  padding-top: 40px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: -999;
}

.pie-chart-container{
  height: 280px;
}